{% extends 'base.html.twig' %}

{% block title %}Создание нового гостя{% endblock %}

{% block body %}
    <h1><i>Создание нового гостя</i></h1>

    {{ include('guest/_form.html.twig') }}

    <a href="{{ path('app_guest_index') }}">Вернуться к списку гостей</a>
{% endblock %}
