{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1><i>Создание нового продукта</i></h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">Вернуться к списку товаров</a>
{% endblock %}
