{% extends 'base.html.twig' %}

{% block title %}Создание новой тусовки{% endblock %}

{% block body %}
    <h1><i>Создание новой тусовки</i></h1>

    {{ include('party/_form.html.twig') }}

    <a href="{{ path('app_party_index') }}">Вернуться к списку тусовок</a>
{% endblock %}
