{% extends 'base.html.twig' %}

{% block title %}Изменение платежа{% endblock %}

{% block body %}
    <h1>Изменение платежа</h1>

    {{ include('payment/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('app_payment_index') }}">Вернуться</a>

    {{ include('payment/_delete_form.html.twig') }}
{% endblock %}
