{% extends 'base.html.twig' %}

{% block title %}Новый платёж{% endblock %}

{% block body %}
    <h1><i>Создание нового платежа</i></h1>

    {{ include('payment/_form.html.twig') }}

    <a href="{{ path('app_payment_index') }}">Вернуться к списку платежей</a>
{% endblock %}
