{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1><i>Создание нового пользователя</i></h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Вернуться</a>
{% endblock %}
